## Part 3: Building the model

This is our third and final part of this project. It will be divided into different sections.

1. Section 1: Data Preprocessing.
2. Section 2: Support Vector Regression.
3. Section 3: Random Forest.
4. Section 4: Lasso Regression.
5. Section 5: Logistic Regression.
6. Section 6: Model Evaluation.

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.offline import plot, iplot, init_notebook_mode
import plotly.graph_objs as go
init_notebook_mode(connected=True)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'model_data.csv',index_col=[0])

In [3]:
df

,country,age_group,purpose,main_activity,info_source,tour_arrangement,package_accomodation,package_food,package_transport_tz,package_insurance,payment_mode,first_trip_tz,total_cost
0,SWIZERLAND,45-64,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,No,No,No,Cash,No,674602.5
1,UNITED KINGDOM,25-44,Leisure and Holidays,Cultural tourism,others,Independent,No,No,No,No,Cash,Yes,3214906.5
2,UNITED KINGDOM,25-44,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,No,No,No,Cash,No,3315000.0
3,UNITED KINGDOM,25-44,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,Yes,Yes,No,Cash,Yes,7790250.0
4,CHINA,1-24,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,No,No,No,Cash,Yes,1657500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,UAE,45-64,Business,Hunting tourism,"Friends, relatives",Independent,No,No,No,No,Credit Card,No,3315000.0
4805,UNITED STATES OF AMERICA,25-44,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,Yes,Yes,Yes,Cash,Yes,10690875.0
4806,NETHERLANDS,1-24,Leisure and Holidays,Wildlife tourism,others,Independent,No,No,No,No,Cash,Yes,2246636.7
4807,SOUTH AFRICA,25-44,Business,Beach tourism,"Travel, agent, tour operator",Independent,Yes,Yes,No,No,Credit Card,No,1160250.0
4808,UNITED KINGDOM,25-44,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,Yes,Yes,No,Cash,Yes,13260000.0